/* Reset default browser spacing */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 0, 195);
}

/* Header */
header {
    background-color: beige;
    color: #880808;
    padding: 20px;
    text-align: center;
}

/* navigation */
nav {
    background-color: azure;
    padding: 10px;
    text-align: center;
}

nav a {
    color: beige;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    padding: 20px;
}

/* Sections */
section {
    background-color: beige;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Products */
.product {
    border: 1px solid;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: black;
    color: beige;
    text-align: center;
    padding: 10px;
}